<ion-row class="ion-text-center font-12 bottomTabs">
  <ion-col id="home">
    <img class="w-60" (click)="pageRoute('home')" src="../../../assets/icon/u735.png"/>
    <p class="mb-0">Home</p>
  </ion-col>
  <ion-col id="balance">
    <img class="w-60" (click)="pageRoute('balance')" src="../../../assets/icon/u746.png"/>
    <p class="mb-0">Balances</p>
  </ion-col>
  <ion-col id="contributions">
    <img class="w-60" (click)="pageRoute('contributions')" src="../../../assets/icon/u759.png"/>
    <p class="mb-0">Contributions</p>
  </ion-col>
  <ion-col id="investments">
    <img class="w-60" (click)="pageRoute('investments')" src="../../../assets/icon/u770.png"/>
    <p class="mb-0">Investments</p>
  </ion-col>
</ion-row>