<ion-content>
  <div class="height-100 backColor">
    <ion-row>
      <ion-col>
        <img class="voyaImage"
          src="https://purepng.com/public/uploads/large/purepng.com-voya-financial-logologobrand-logoiconslogos-251519938224xbtfv.png" />
      </ion-col>
    </ion-row>
    <ion-row class="margin-top-6vh">
      <ion-col>

        <ion-list class="sm-85">
          
          <ion-row class="border-bottom">
            <ion-col size="10">
              <ion-input class="padding-6" type="text" placeholder="Username"></ion-input>
            </ion-col>
            <ion-col size="2">
            </ion-col>
          </ion-row>

          <ion-row class="border-none">
            <ion-col size="10">
              <ion-input class="padding-6" [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
            </ion-col>
            <ion-col size="2" class="m-auto ">
              <ion-icon name="eye-sharp" class="orange" size="large"></ion-icon>
            </ion-col>
          </ion-row>
         
        </ion-list>
      </ion-col>
    </ion-row>


    <ion-row class="m-auto sm-85 m-20">

      <ion-col size="6">
        <ion-row  size="12">
          <ion-col size="4" class="padding-0 m-auto">
            <ion-toggle></ion-toggle>
          </ion-col>
          <ion-col size="8" class="padding-0 m-auto">
            <span class="font-14">Remember Me</span>
          </ion-col>

        </ion-row>
      </ion-col>
      <!-- <ion-col>
        <ion-toggle color="primary"></ion-toggle><span></span>
      </ion-col> -->

      <ion-col size="6">
        <ion-row  size="12">
          <ion-col size="4" class="padding-0 m-auto">
            <ion-toggle></ion-toggle>
          </ion-col>
          <ion-col size="8" class="padding-0 m-auto">
            <span class="font-14">Touch/Face ID</span>
          </ion-col>

        </ion-row>
      </ion-col>

    </ion-row>


    <ion-row class="margin-top-6vh"></ion-row>


    <ion-row class="m-auto m-20">
      <ion-col size="2">
        <!-- <ion-button expand="block">Block Button</ion-button> -->
      </ion-col>
      <ion-col size="8">
        <v-button (click)="openPage()" primary>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log In&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</v-button>
      </ion-col>
      <ion-col size="2">
        <!-- <ion-button expand="block">Block Button</ion-button> -->
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col ><p class="text-center"><a class="text-underline">Forgot Username/Password?</a></p></ion-col>
    </ion-row>

    <ion-row class="sm-85">
      <ion-col size="6"><p class="text-center">First time user?</p></ion-col>
      <ion-col size="6">
        <ion-button color="white"  (click)="removeData()" class="b-radius border-color" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>

    <div class="font-size-10 m-20">
      <p class="m-auto"> Version 4.12</p>
      <p class="m-auto">© 2019, Voya All Rights Reserved.</p>
      <p class="m-auto">Voya and Voya logo are registered trademarks of Voya Services Company</p>
    </div>


  </div>
</ion-content>