.margin-25{
    margin: 25px;
}
.orange{
    color: #D75426;
}
.font-24{
    font-size:24px
}
.margin-5{
    margin: 5px;
}
.border-right-light{
    border-right: 1px solid #00000038;
}
.center{
    width: 95%;
    display: block;
    margin: auto;   
}
.backColor{
    background-color: #f5f5f5;
}
.margin-0{
    margin: 0px;
}
.color-backdiv{
    background-color:#165b7b;
    color:white
}
.radius-20{
    border-radius: 20px;
}
.margin-left-25{
    margin-left: 25px;
}
.mb-15{
    margin-bottom:15px;
}
.width-95{
    width: 95%;
}
.font-12{
    font-size: 12px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-0{
    margin-bottom: 0px;
}
.mb-20{
    margin-bottom: 20px;
}
.color-backdivSecond{
    background-color: rgb(85, 27, 87);
    color: white;
}
.darkgb{
    color:#145A7B;
}
.bottomTabs{
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #f5f5f5;
    border-top: 1px solid #00000036;
}
.w-60{
    width: 45%;
}
.hline{
    border-top: 1px solid #00000026;
    width: 112%;
    margin-left: -6%;
}
.font-15{
    font-size: 15px;
}
.progress-outer {

    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    height: 20px;
}
.center{
    display: block;
    margin: auto;
}
.progress-inner {
    min-width: 15%;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    height: 20px;
    background-color: #d85525;
}
.percent80{
    width: 80%;
}
.percent70{
    width: 70%;
}
.percent60{
    width: 60%;
}
.percent50{
    width: 50%;
}
.percent40{
    width: 40%;
}
.mb-60{
    margin-bottom: 60px;
}